@tailwind base;
@tailwind components;
@tailwind utilities;

.diagonal-section {
  position: relative;
  background-color: #f9f9f9;
}

.diagonal-section::before {
  content: "";
  z-index: 80;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

@media (max-width: 768px) {
  .diagonal-section::before {
    height: 22px;
  }
}

.contact3d-section {
  position: relative;
  background-color: #f6f3f6;
}

.contact3d-section::before {
  content: "";
  z-index: 80;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #f6f3f6;
}

@media (max-width: 768px) {
  .contact3d-section::before {
    height: 25px;
  }
}

.custom-phone-input .PhoneInputInput {
  background-color: #f8f8f8;
  outline: none;
}
.custom-phone-input .PhoneInputCountryIconImg {
  display: block;
  width: 100%;
  height: 100%;
}

.custom-phone-input .PhoneInputCountryIcon--border {
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  border-color: #d75438;
}

.custom-phone-input .PhoneInputCountrySelectArrow {
  width: 8px;
  height: 8px;
  border-color: #d75438;
  margin: 0 6px 2px 8px;
}

@keyframes ripple {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.8s infinite;
}

.yarl__portal {
  height: 100% !important;
  padding: 80px 16px;
  background: rgba(0, 0, 0, 0.92) !important;
}

.yarl__carousel {
  height: 95% !important;
}

.yarl__container {
  background-color: transparent !important;
}

.yarl__thumbnails_container {
  background-color: transparent !important;
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: transparent;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #4a3456;
  border-radius: 10px;
}
.modal-content::-webkit-scrollbar-button {
  display: none;
}

.modal-content {
  scrollbar-width: thin;
  scrollbar-color: #4a3456 transparent;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #4a3456 transparent;
}

@keyframes revolve3 {
  0% {
    transform: rotateX(0deg);
  }
  33.33% {
    transform: rotateX(120deg);
  }
  66.66% {
    transform: rotateX(240deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.animate-3 {
  animation: revolve3 4s ease-in-out infinite;
}

.cube-spinner {
  transform-style: preserve-3d;
  transform-origin: center;
}

.cube-spinner-text {
  display: inline-block;
  position: relative;
  height: 52px;
}
@media screen and (max-width: 1024px) {
  .cube-spinner-text {
    height: 40px;
  }
}

.cube-face {
  position: absolute;
  height: 100%;
  backface-visibility: hidden;
}
